.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 7px;
  --search-button-width: 52px;

  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  width: 100%;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--default-layout-horizontal-spacer);

}

.search-result,
.search {
  width: 361px;
}

.search {
  position: relative;
  height: var(--search-height);
  padding-left: 16px;
  display: flex;
  align-items: center;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  border: 1.5px solid transparent;

  &:focus-within {
    border-color: #c5c6c9;
  }

  input {
    flex: 1;
    height: 100%;
    font-size: 1.6rem;
    background-color: transparent;
    cursor: pointer;
    caret-color: rgba(254, 44, 85, 1);
  }

  input:not(:placeholder-shown)~.search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  &::after {
    content: '';
    width: 1px;
    top: var(--search-top-spacer);
    bottom: var(--search-top-spacer);
    background-color: rgba(22, 24, 35, .12);
    position: absolute;
    right: var(--search-button-width);

  }

}

.search-title {
  font-size: 1.4rem;
  color: var(--light-text-color);
  padding: 5px 12px;
  font-weight: 500;
}

.action {
  display: flex;
  align-items: center;
}

.clear,
.loading {
  width: 40px;
  color: rgba(22, 24, 35, 0.34);
}

.loading {
  display: none;
}

.search-btn {
  width: var(--search-button-width);
  color: rgba(22, 24, 35, 0.34);
  font-size: 1.8rem;
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);

  &:hover,
  &:active {
    cursor: pointer;
    background-color: rgba(22, 24, 35, .03);
  }

}

.more-btn {
  font-size: 2rem;
  margin-left: 16px;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
}